<div id="headerbar">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-2">
				<a href="#" class="shortcut-tiles tiles-midnightblue">
					<div class="tiles-body">
						<div class="pull-left"><i class="fa fa-cog"></i></div>
					</div>
					<div class="tiles-footer">
						Settings
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
